@model IEnumerable<MvcBook.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    }
    @using (Html.BeginForm("Index","Books",FormMethod.Get))
    {
    <p>
        <br />
        Genre: @Html.DropDownList("bookGenre")
        <input type="submit" value="Filter" class="btn btn-default"/>
        <br />
    </p>
    }
</p>    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Author.Surname)
        </th>
        <td>

        @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Employee")))
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = " btn btn-warning" }) 
        }
        
        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = " btn btn-info" })

        @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
        {
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = " btn btn-danger" })
        }
        </td>
    </tr>
}
</table>
<div align="center">
    @Html.Partial("_BookPartial", Model)
</div>
